header {
  width: 960px;
  height: 100px;
  background-color: peachpuff;
  border: 1px black solid;
  text-align: center;
}

footer {
  width: 960px;
  height: 100px;
  background-color: pink;
  border: 1px black solid;
  text-align: center;
}

.testing1 {
  background-color: black;
}
